<div class="ui inverted segment">
  <div class="ui huge secondary inverted pointing menu">
    <a class="active item">
      Chatroom
    </a>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">Logout</a>
          <a class="item">Login</a>
          <a class="item">Signup</a>
        </div>
      </div>
      <div class="item">
        <% if logged_in? %>
        <%= link_to "Log out", logout_path, class: "ui primary button", method: :delete %>
        <% else %>
        <div class="ui primary button">Sign Up</div>
        <% end %>
      </div>
    </div>
  </div>
</div>